body{
    background-color: #04a6eb;
    color: #fdffff;
    /*＃で始まるやつは16進数のカラー表記*/
    width: 500px;
    margin-right: auto;
    margin-left: auto;/*marginは外側余白autoは自動調整*/
}

button{
    padding: 5px 20px;/*要素の内側の余白*/
    background-color: #337ab7;
    color: #fdffff;
    border-style: dashed;/*境界線のスタイル*/
}
input{
    height: 20px;
}